@font-face {
    font-family: 'Gothic';
    src: url('font/Gothic821Condensed.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gothic';
}

:root {
    --fresh-mint: #275848;
    --dark-fresh-mint: #163027;
    --banana-skin: #f6d700;
    --pure-white: #fff;
    --mint-cream: #fafbf8;
    --rose-white: #f1eaea;
}

/* BASIC STYLING */

body {
    background: var(--mint-cream);
}

.bg-fresh-mint {
    background: var(--fresh-mint);
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

li {
    list-style: none;
}

/* in any project you use this property to fix image in  any container  */
img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1250px;
    margin: auto;
}

.wrapper {
    padding-inline: 1rem;
}

.p-block {
    padding-block: 7rem;
}

/* HEADER STYLING  */
.navbar {
    min-height: 13vh;
}

.navlist {
    gap: 2.5rem;
}

.link {
    color: var(--mint-cream);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

.logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--pure-white);
}

.hamburgur {
    color: var(--pure-white);
    font-size: 1.6rem;
    display: none;
}

.mobile-list {
    display: none;
}

.mobile-list .link {
    font-size: 1.1rem;
    color: var(--dark-fresh-mint);
    text-transform: uppercase;
    font-family: 'Gothic';
}

/* section styling  */
/* SECTION 01 */
.hero-content {
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 30vw;
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: -1rem;
    /*-1 because we want decrease it if increase then give positive */
    line-height: 100%;
    text-shadow: 0 0 1.5rem var(--dark-fresh-mint);
    text-align: center;
}

.wavy-shape {
    position: absolute;
    bottom: 0;
}

.shoe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    width: 54vw;
}

.hero-section {
    border-radius: 0 0 5rem 5rem;
}

.hero-inner {
    position: absolute;
    width: 100%;
    bottom: 150px;
    min-height: 30vh;
    align-items: flex-end;
}

.para {
    max-width: 320px;
    color: var(--dark-fresh-mint);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

.circle {
    /* position: absolute; */
    width: 9rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--banana-skin);
    align-self: flex-start;
    position: relative;
}

.circle::before {
    content: "# 1 Best Sneakers";
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 3.3rem;
    text-transform: uppercase;
    line-height: 100%;
    text-shadow: 0.3rem 0.3rem 0 var(--pure-white);
    transform: rotate(-20deg);
}

.cylinder {
    padding: 1rem;
}

.cylinder-inner {
    background: var(--banana-skin);
    width: 100%;
    height: 17vh;
    border-radius: 100vw;
    white-space: nowrap;
    overflow: hidden;
}

h4 {
    font-size: 4.5vw;
    text-transform: uppercase;
    color: var(--dark-fresh-mint);
}

.mobile-para {
    color: var(--pure-white);
    max-width: 350px;
    text-align: center;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    line-height: 1.5rem;
}

/* SECTION 02  */

h2 {
    font-size: 7.6vw;
    color: var(--fresh-mint);
    text-transform: uppercase;
    letter-spacing: -0.25rem;
}

.capsule {
    width: 15rem;
    height: 5rem;
    background: linear-gradient(90deg, pink, #d4d4d4);
    border-radius: 100vw;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.capsule img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    transition: 0.3s ease-in-out;
}

.capsule:hover img {
    transform: translate(-50%, -35%) rotate(45deg);
}

.btn {
    background: var(--fresh-mint);
    color: var(--pure-white);
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 100vw;
    border: 0.4rem solid var(--pure-white);
}

.profile {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    border: 0.3rem solid var(--pure-white);
    overflow: hidden;
}

.profile:nth-child(2),
.profile:nth-child(3) {
    margin-left: -1rem;
}

.profile img,
.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h5 {
    font-size: 3vw;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--fresh-mint);
}

/* SECTION 03 */

h3 {
    font-size: 6vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--fresh-mint);
    z-index: 3;
}

.card-container {
    gap: 1rem;
    margin-top: -2rem;
}

.card {
    flex: 1;
    flex-basis: 300px;
    background: var(--rose-white);
    height: 70vh;
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .btn {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 2rem;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card:hover .btn {
    bottom: 30px;
}

.card .btn:hover {
    background: var(--banana-skin);
    color: var(--fresh-mint);
}

/*  SECTION 04  */

.product .para,
.product h3 {
    color: var(--pure-white);
}

.product .para {
    text-align: right;
}

.icon-btn {
    width: 5rem;
    aspect-ratio: 1;
    outline: 0.4rem solid var(--pure-white);
    background: var(--banana-skin);
    color: var(--fresh-mint);
    font-size: 2rem;
    border-radius: 100vw;
    text-align: center;
    line-height: 5rem;
    transition: all 0.3s ease-in-out;
}

.category {
    position: relative;
}

.category .cylinder-inner {
    background: var(--dark-fresh-mint);
    transition: 0.3s ease-in-out;
}

.category .cylinder-inner h4 {
    color: var(--pure-white);
    transition: 0.3s ease-in-out;
}

.m-top {
    margin-top: 5rem;
}

.category-image {
    width: 12rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -10%);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.701);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    z-index: 4;
}

.category .cylinder-inner:hover~.category-image {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}

.category .cylinder-inner:hover {
    background: var(--banana-skin);
}

.category .cylinder-inner:hover h4 {
    color: var(--fresh-mint);
}

.category .cylinder-inner:hover .icon-btn {
    background: var(--fresh-mint);
    color: var(--banana-skin);
    transform: rotate(-50deg);
}

/* SECTION 05  */

.intro-image {
    width: 100%;
    height: 85vh;
    background-image: url("image/shoe_bg.jpeg");
    background-repeat: no-repeat;
    border-radius: 5rem;
    background-position: bottom;
    background-size: cover;
    justify-content: center;
}

.intro-image .btn {
    background: var(--banana-skin);
    color: var(--fresh-mint);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: orangered;
    color: var(--pure-white);
}

/* FOOTER PART */

.contact {
    width: 80%;
    margin: auto;
    position: relative;
}

.contact .icon-btn {
    background: var(--fresh-mint);
    color: var(--banana-skin);
}

.contact-image {
    position: absolute;
    width: 11rem;
    left: 60%;
    top: 170px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 1rem 1rem black);
}

.contact:hover .contact-image {
    top: 8px;
    transform: rotate(-20deg);
}

.contact:hover .icon-btn {
    transform: rotate(-50deg);
}

.footer-list {
    justify-content: center;
    min-height: 17vh;
}

.footer-link {
    background: var(--rose-white);
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    color: var(--fresh-mint);
    transition: 0.3s ease-in-out;
}

.footer-link:hover {
    background: var(--fresh-mint);
    color: var(--pure-white);
}

.copyright {
    padding-block: 1rem;
}

.copyright p {
    color: var(--fresh-mint);
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}



/* Responsive Styling  */

@media screen and (max-width: 780px) {
    .navlist {
        display: none;
    }

    .hamburgur {
        display: block;
    }

    .navbar {
        position: relative;
    }

    .mobile-list {
        display: block;
        position: absolute;
        background: var(--banana-skin);
        top: 120px;
        left: -100%;
        transform: translateX(-50%);
        padding: 3rem;
        border-radius: 5rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        box-shadow: 0 2rem 7rem rgba(0, 0, 0, 0.661);
        outline: 0.4rem solid var(--pure-white);
        transition: 0.5s ease-in-out;
        z-index: 10;
    }

    .mobile-list-action {
        left: 50%;
        transform: translateX(-50%);
    }

    /* section styling  */
    /* SECTION 01 */
    h1 {
        font-size: 8.8rem;
        letter-spacing: -0.1rem;
    }

    .hero-inner {
        display: none;
    }

    .hero-content {
        max-height: 83vh;
        padding-top: 2rem;
    }

    .shoe {
        width: 27rem;
        top: 60%;
    }

    .mobile-para {
        display: block;
    }

    h4 {
        font-size: 3rem;
    }

    .cylinder-inner {
        min-height: 13vh;
        justify-content: center;
        padding: 1rem;
    }

    /* SECTION 02  */

    .cylinder-inner-width {
        min-height: 28vh;
    }

    h2 {
        font-size: 4.4rem;
        letter-spacing: -0.1rem;
    }

    h5 {
        font-size: 1.9rem;
    }

    .gap {
        gap: 2.5rem;
    }

    .profile {
        width: 3rem;
    }

    .btn {
        font-size: 1.5rem;
        border-width: 0.2rem;
    }

    /* SECTION 03  */
    h3 {
        font-size: 3.7rem;
    }

    .card {
        margin-top: 3rem;
    }

    .card img {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }

    .card {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .card .btn {
        width: 70%;
    }

    /* SECTION 04   */

    .category .cylinder-inner {
        justify-content: space-between;
    }

    .category-image {
        width: 8rem;
        left: 55%;
    }

    /* SECTION 05  */

    .intro-image {
        height: 50vh;
    }

    /* FOOTER PART */

    .contact {
        width: 100%;
        justify-content: space-between;
    }

    .contact-image {
        width: 9rem;
        left: 45%;
    }
}